:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

a {
  font-weight: 500;
  color: #5b78c2;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #434343;
  min-height: 35vh;
}

article {
  border-left: 1px solid black;
  background-color: #f6f6f6;
  width: 100%;
  padding: 2rem;
}

.diagram {
  margin: 2rem;
  border: 1px solid black;
  background: #fffaef;
}

p {
  font-size: 2rem;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
}

.logo {
  color: white;
}

#pie-chart {
  position: relative;
}

#pie-chart path {
  stroke-width: 0.2;
}

#pie-chart polyline {
  stroke-width: 0.2;
}


.info-bubble {
  position: absolute;
  border: 1px solid grey;
  border-radius: 1rem;
  pointer-events: none;
  background-color: white;
  padding: 1rem;
}

#year-label, #country-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
}

/* The slider itself */
#pie-chart_range-slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
#pie-chart_range-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#pie-chart_range-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.pie-chart-label text {
  display: block;
  white-space: normal !important;
  position: relative;
  font-size: 0.3rem;
  border-radius: 1.5rem;
  border: 1px solid black;
  padding: 1rem;
  background-color: white;
}

#country-label {
  transform: translate(-50%, -20%);
}

#app {
  margin: 0 ;
  text-align: center;
}

.quincegr {
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.social-media {
  display: flex;
  list-style-type: none;
  
}

.social-media li a img {
    height: 2rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 50%;
    background-color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  font-size: 1.6rem;
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


:root {
  color: #213547;
  background-color: #ffffff;
}
a:hover {
  color: #747bff;
}
button {
  background-color: #f9f9f9;
}

@media only screen and (min-width: 768px) {
  article {
    max-width: 50%;
  }

  .read-the-docs {
    font-size: 0.8rem;
    color: #888;
  }

  #pie-chart_range-slider {
    width: 80%;
  }

  .pie-chart-label text {
    font-size: 0.2rem;
  }

  #pie-chart svg {
    max-height: 85vh;
  }

  #pie-chart path {
    stroke-width: 0.2;
  }

  #pie-chart polyline {
    stroke-width: 0.4;
  }

  p {
    font-size: 1rem;
  }
}